<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMatch</title>
    <link rel="stylesheet" href="/asset/css/styles.css">
    <link rel="stylesheet" href="/asset/css/home.css">
</head>
<body>
    
    <main>

        



    </main>
    <footer class="nav">
        <a class="home-btn nav-btn" href="/">
            <img src="/asset/Images/home-icon.svg" alt="">
        </a>
        <a class="connections-btn nav-btn" href="/connections/">
            <img src="/asset/Images/Connection-icon.svg" alt="">
        </a>
        <a class="add-btn nav-btn" href="/add">
            <img src="/asset/Images/Add-icon.svg" alt="">
        </a>
        <a class="chat-btn nav-btn" href="/chat">
            <img src="/asset/Images/Chat-icon.svg" alt="">
        </a>
        <a class="saved-btn nav-btn" href="/saved">
            <img src="/asset/Images/Save-icon.svg" alt="">
        </a>
    </footer>
</body>
</html>